<div class="picker">
  <ion-card mode="ios" class="ion-text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
    <div *ngIf="selectedLocationImage && !isLoading && showPreview">
      <ion-card-header>
        <ion-img
        [src]="selectedLocationImage"
        (click)="onPickLocation()"></ion-img>
        <ion-card-subtitle>Address</ion-card-subtitle>
        <ion-card-title>{{pickedLocation.address}}</ion-card-title>
      </ion-card-header>
    </div>
    <ion-card-content *ngIf="(!selectedLocationImage && !showPreview) && !isLoading">
      <ion-button color="primary" (click)="onPickLocation()">
        <ion-icon slot="start" name="map"></ion-icon>
        <ion-label>Select Location</ion-label>
      </ion-button>
    </ion-card-content>
  </ion-card>
</div>
